@import url(normalize.css);
@import url(shared.css);
html {
  overflow-y: scroll; }

.container {
  width: 960px;
  margin: 20px auto; }

header {
  background: #990000;
  padding: 25px;
  text-align: center; }
  header a {
    text-decoration: none;
    color: #fff; }

.poster-container {
  background: #990000;
  padding: 10px 10px 0 10px; }
  .poster-container .movie-poster-link {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px; }
    .poster-container .movie-poster-link:nth-child(5n) {
      margin-right: 0; }
  .poster-container .movie-poster {
    line-height: 0px; }
    .poster-container .movie-poster img {
      width: 180px;
      height: 266px; }

.movie-container {
  background: #990000;
  margin-top: 20px;
  padding: 10px;
  color: #fff; }
  .movie-container h3 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 4px; }
  .movie-container img {
    margin-right: 10px;
    width: 180px;
    height: 266px; }
  .movie-container .tag-span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px; }
    .movie-container .tag-span a {
      color: #fff; }
  .movie-container .desc {
    display: block;
    margin-top: 5px;
    width: 740px;
    line-height: 1.4em; }

.shows-container {
  background: #990000;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: #fff; }
  .shows-container table {
    width: 100%; }
  .shows-container table, .shows-container th, .shows-container td {
    text-align: center;
    border: 1px solid white;
    color: #fff;
    padding: 5px; }
  .shows-container .booking-link-cell {
    padding: 10px; }
    .shows-container .booking-link-cell a {
      background: orange;
      color: #000;
      text-decoration: none;
      border-radius: 3px;
      padding: 5px; }

/*# sourceMappingURL=master_.css.map */
