@import 'normalize.css';
@import 'shared.css';

// --------------------------------
//
// Variables
//
// --------------------------------

$color-deep-red: #990000;

// --------------------------------
//
// Desktop structure
//
// --------------------------------

html {
       overflow-y: scroll;
}

.container {
    width: 960px;
    margin: 20px auto;
}

header {
    background: $color-deep-red;
    padding: 25px;
    text-align: center;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.poster-container {
    background: $color-deep-red;
    padding: 10px 10px 0 10px;

    .movie-poster-link {
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;

        &:nth-child(5n) {
            margin-right: 0;
        }
    }

    .movie-poster {
        line-height: 0px; // Fix margin below images

        img {
            width: 180px;
            height: 266px;
        }
    }
}

.movie-container {
    background: $color-deep-red;
    margin-top: 20px;
    padding: 10px;
    color: #fff;

    h3 {
        margin: 0;
        margin-bottom: 10px;
        margin-top: 4px;
    }

    img {
        margin-right: 10px;
        width: 180px;
        height: 266px;
    }
    
    .tag-span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;

        a {
            color: #fff;
        }
    }

    .desc {
        display: block;
        margin-top: 5px;
        width: 740px;
        line-height: 1.4em;
    }

}

.shows-container {
    background: $color-deep-red;
    padding: 10px;
    margin-top: 20px;
    
    text-align: center;
    color: #fff;

    table {
        width: 100%;
    }

    table, th, td {
        text-align: center;
        border: 1px solid white;
        color: #fff;
        padding: 5px;
    }

    .booking-link-cell {
        padding: 10px;

        a {
            background: orange;
            color: #000;
            text-decoration: none;
            border-radius: 3px;
            padding: 5px;
        }
    }

}