@import url(normalize.css);
@import url(shared.css);
html {
  background: #fff;
  padding: 10px; }
  @media only screen and (min-width: 969px) {
    html {
      width: 960px;
      margin: 0 auto; } }

@media only screen and (min-width: 969px) {
  body {
    width: 960px;
    margin: 0 auto; } }

.left {
  float: left; }

.right {
  float: right; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.movie-link {
  color: #000;
  display: block;
  background: whitesmoke;
  width: 100%;
  margin-bottom: 10px; }

.movie-poster {
  margin: 5px;
  height: 140px;
  width: 100px; }

.movie-entry ul {
  list-style: none;
  padding: 0;
  margin: 10px; }

.movie-info {
  font-family: sans-serif;
  font-size: 1.2em; }
  .movie-info .title {
    font-weight: bold;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    max-width: 200px; }

.movie-container {
  width: 100%; }
  .movie-container .left-block {
    float: left;
    padding: 0.5em 1.0em 0 0.5em;
    margin: 0; }
  .movie-container .poster-image {
    padding-bottom: 0.5em;
    display: block;
    width: 150px;
    height: 222px; }
  .movie-container .trailer-link {
    display: inline-block;
    background-color: #2a2a2a;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    width: 150px;
    text-align: center; }
  .movie-container .movie-info {
    display: block;
    padding: 0.5em 0 0 0; }
  .movie-container .movie-trailer {
    display: inline-block;
    width: 398px;
    height: 222px; }
  .movie-container .movie-description {
    float: left;
    border-top: 1px solid rgba(42, 42, 42, 0.2);
    margin-top: 0.6em;
    padding-top: 0.3em;
    padding-bottom: 0.6em;
    width: 100%;
    font-size: 1.0em; }
  .movie-container .movie-genre {
    padding-bottom: 0.6em;
    font-size: 0.8em;
    color: grey; }
  .movie-container .movie-runtime {
    display: inline-block;
    font-size: 0.8em; }
  .movie-container .movie-age {
    display: block;
    font-size: 0.8em; }
  .movie-container .title-text {
    font-weight: bold;
    font-size: 1.2em; }

.movie-times {
  border-top: 0.3em solid rgba(42, 42, 42, 0.2);
  padding-top: 0.6em;
  float: left; }

.table-row {
  border-bottom: 1px solid rgba(42, 42, 42, 0.2); }

.no-shows {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  display: block; }

.salon-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
  background: silver; }
  .salon-link:hover {
    background: orange; }

.salon-information {
  padding-bottom: 0.5em;
  margin: 0.3em; }

.salon-name {
  color: white;
  font-size: 1em;
  padding-left: 0.3em;
  /* padding-bottom: 0.2em; */
  background-color: #2a2a2a; }

.description-container {
  margin: 0.5em; }

.display-date {
  font-weight: bold;
  border-top: 1px solid rgba(42, 42, 42, 0.2);
  border-bottom: 2px solid #2a2a2a;
  text-align: center; }

/*# sourceMappingURL=master.css.map */
