<!DOCTYPE html>
<html>
<head>
    <title th:text="${pageTitle}">Landing Page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <style type="text/css">

    body {
        margin: 0;
    }

    .c1 { background: red }

    .c2 { background: blue }

    .container { width: 100%; }

    .ticket-selector-container {
        text-align: center;
        padding: 15px 5px 15px 5px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .qty {
        width: 25px;
        height: 25px;
        text-align: center;
        border: none;
        color: rgba(42, 42, 42, 1.0);
        font-size: 1.1em;
        font-weight: bold;
    }
    input.qtyplus {
        width: 30px;
        height: 30px;
        color: rgba(42, 42, 42, 1.0);
        background-color: transparent;
        border: 2px solid rgba(42, 42, 42, 1.0);
        border-radius: 15px;
        font-size: 1em;
        padding: 0px 1px 1px 1px;
        float: right;
        margin-right: 40px;
        font-weight: bold;
    }
    input.qtyminus {
        width: 30px;
        height: 30px;
        color: rgba(42, 42, 42, 1.0);
        background-color: transparent;
        border: 2px solid rgba(42, 42, 42, 1.0);
        border-radius: 15px;
        font-size: 1em;
        padding: 0px 1px 1px 1px;
        float: left;
        margin-left: 40px;
        font-weight: bold;
    }

    .ticket-header {
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }

    .ticket-pricing {
        display: inline-block;
        font-size: 1.1em;
        padding-left: 5px;
    }

    .input-box-nr {
        width: 200px;
        box-sizing: border-box;
        text-align: center;
        float: left;
    }

    .input-box-cvv {
        width: 75px;
        box-sizing: border-box;
        text-align: center;
    }

    .card-number-container {
    }

    .submit-container {
        margin: 0 auto;
        width: 215px;
    }

    .payment-container {
        width: 100%;
        float: left;
    }


    .input-field {
        border: 2px solid rgba(41, 41, 41, 1.0);
        border-radius: 22px;
        padding: 10px;
        /*background: rgba(255,255,255,0.5); */
    }

    .input-button {
        width: 80px;
        padding: 6px 0;
        background: rgba(41, 41, 41, 1.0);
        border: none;
        color: white;
        font-size: 1.2em;
        border-radius: 22px;
    }

    .input-container {
        width: 325px;
        margin: 2em auto;
    }

    /*Removes the spinner-arrows from PC-browser number input*/
    input[type=number] {-moz-appearance: textfield;}
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none; 
        margin: 0; 
    }

    </style>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    jQuery(document).ready(function(){
        // This button will increment the value
        $('.qtyplus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('field');

            var defaultMaxCap = 6;

            var emptySeatCount = /*[[${emptySeatCount}]]*/ 6;

            var thisSeatCap = Math.min(defaultMaxCap, emptySeatCount);

            // Get its current value
            var currentVal = parseInt($('input[name='+fieldName+']').val());
            // If is not undefined
            if (!isNaN(currentVal) && currentVal < thisSeatCap) {
                // Increment
                $('input[name='+fieldName+']').val(currentVal + 1);
            }
        });
        // This button will decrement the value till 1
        $(".qtyminus").click(function(e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            fieldName = $(this).attr('field');
            // Get its current value
            var currentVal = parseInt($('input[name='+fieldName+']').val());
            // If it isn't undefined or its greater than 1
            if (!isNaN(currentVal) && currentVal > 1) {
                // Decrement one
                $('input[name='+fieldName+']').val(currentVal - 1);
            }
        });
    });


    /*]]>*/
    </script>

</head>
<body>

<section class="container">
    <div class="ticket-header">Choose number of tickets</div>
    <form id='myform' method='POST' action='#' th:action="@{/confirmation}">

        <div class="ticket-selector-container">
            <input type='button' value='-' class='qtyminus' field='quantity' />
            <input type='text' name='quantity' value='1' class='qty'><div class="ticket-pricing">Tickets 130:-</div></input>
            <input type='button' value='+' class='qtyplus' field='quantity' /> 
        </div>

        <div class="payment-container">
            
            
                
                <p class="input-container">

                <input class="input-box-nr input-field" type="text" name="cardNumber" maxlength="16" pattern="[0-9]{13,16}" placeholder="Card Number" />

                <span style="padding:  0 25px;"></span>

                <input class="input-box-cvv input-field" type="text" maxlength="3" pattern="([0-9]{3})" name="cvv" placeholder="CVV2" />

                </p>
                <p></p>
                
           
                
            

            <p class="submit-container">
                <input class="input-button" type="submit" value="Submit" />

                <span style="padding: 0 25px;"></span>

                <input class="input-button" type="reset" value="Reset" />
            </p>

            
        </div>


    </form>

</section>

</body>
</html>