<!DOCTYPE HTML>
<html>
<head>

	<title th:text="${pageTitle}">Landing Page</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}" />

</head>
<body>

	<a class="movie-link" href="movie.html" 	 
						  th:href="@{|/movie/${thisMovie.MovieId}|}"
						  th:each="thisMovie : ${runningMoviesList}">

		<div class="movie-entry clearfix">

			<img class="movie-poster left" src="../static/images/shawshank.jpg" 
										   th:src="@{|/images/${thisMovie.imageId}.jpg|}" />

			<ul class="movie-info left">
				<li class="title"><span th:text="${thisMovie.title}">Placeholder</span></li>
				<li class="genre">Genre: <span th:text="${thisMovie.genre}">Action</span></li>
				<li class="runtime">Runtime: <span th:text="${thisMovie.runtime}">120</span>min</li>
			</ul>

		</div>
	</a>

</body>
</html>