<!DOCTYPE html>
<html>
<head>

    <title th:text="${pageTitle}">Landing Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}" />

</head>
<body>

<section class="movie-container">

    <div class="left-block">
        <img class="poster-image" src="../static/images/shawshank.jpg" th:src="@{|/images/${movie.imageId}.jpg|}" />
        <a href="https://www.youtube.com/watch?v=6hB3S9bIaco" 
                                th:href="|https://www.youtube.com/watch?v=${movie.youtubeTrailerId}|" 
                                target="_blank"><span class="trailer-link">Watch Trailer</span></a>
    </div>

    <div class="movie-info">
        <div class="title-text" th:text="${movie.title}">The Shawshank Redemption</div>
        <div class="movie-genre" th:text="${movie.genre}">Crime, Drama</div>

        <div class="movie-runtime">
          <b>Runtime</b> <span th:text="|${movie.runtime}min|">2h 22min</span>
        </div>

        <div class="movie-age">
          <b>Age</b> 15
        </div>
    </div>

    <div class="description-container">
        <p class="movie-description" th:text="${movie.description}">
          Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency. 
        </p>
    </div>
  
</section>


<section class="movie-container movie-times">
    <span class="no-shows" th:if="${#lists.isEmpty(viewings)}">No shows</span>

    <section class="running-date" th:if="${not #lists.isEmpty(viewings)}" th:each="viewing : ${viewings}">

        <section class="salon-information">
            <a href="booking.html" th:href="@{|/booking/${viewing.viewingId}|}" class="salon-link clearfix">
                <!-- <div> -->
                    <div class="left" th:text="|${viewing.date} ${viewing.time}|">2016-01-01 14:00</div>

                    <div class="right">
                        <b th:text="${seatCountMap[__${viewing.viewingId}__]}">12</b> seats left
                    </div>
                <!-- </div> -->
            </a>
        </section>

        <!-- Non-thymeleaf block starts -->
        <!--/*--> 

        <section class="salon-information">
            <a href="book.html" class="salon-link">
                <div>
                    <div style="display: inline-block;">2016-01-01 14:00</div>

                    <div style="float: right;">
                        <b>12</b> seats left
                    </div>
                </div>
            </a>
        </section>

        <!--*/-->
        <!-- Non-thymeleaf block ends -->

    </section>

    <!-- 
    <section class="running-date">
        <div class="display-date">Today 2nd February</div>
        <div class="salon-name">Salon 1</div>
        <section class="salon-information">
            <a href="book.html" class="salon-link">
                <div>
                    <div style="display: inline-block;">18:15</div>
                    <div style="float: right;"><b>12</b> seats left</div>
                </div>
            </a>
        </section>

        <section class="salon-information">
            <a href="book.html" class="salon-link">
                <div>
                    <div style="display: inline-block;">21:15</div>
                    <div style="float: right;"><b>22</b> seats left</div>
                </div>
            </a>
        </section>

    </section>

    <section class="running-date">
        <div class="display-date">3rd February</div>
        <div class="salon-name">Salon 2</div>
        <section class="salon-information">
            <a href="book.html" class="salon-link">
                <div>
                    <div style="display: inline-block;">23:45</div>
                    <div style="float: right;"><b>40</b> seats left</div>
                </div>
            </a>
        </section>    
    </section>
    -->


</section>

</body>
</html>